@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


:root {
    --primary: #1b6ef2;
    --text-color: #14241d;
    
  }


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* header  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: transparent;

}

.logo {
    width: 44px;
    height: 50px;
    margin-right: auto;
   
}

.develi {
    margin-right: 420px;
    font-weight: 800;
}

ul {
    list-style-type: none;
  
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    
 
}

i {
    color: #fff;
    margin: 0 6px;
}

.navbar{
    background-image: linear-gradient(90deg, hsl(304, 23%, 76%, 0.7) 0%, hsl(225, 96%, 68%, 0.7) 100%), url(imgs/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.navbar .flex {
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main {
    align-items: center;
    text-align: center;
    padding: 100px;
}

.main h1{
    font-weight: 400;
    padding: 15px;
 
}

.main p{
    font-weight: 400;
    padding: 10px;
    color: #fff;
    
}

.btns {
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    
  
    
    
}

.btn-trans {
    border-radius: 30px;
    border: 2px solid #ffffff;
    font-weight: 600;
    background-color: transparent;

}

.btn-primary{
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid var(--primary);
    background-color: var(--primary);
 
}


/* First Content */

.first-content {
    background-color: #fff;
    height: 560px;
}

.laptop {
    padding-top: 50px;
    height: 450px;
    position: relative;
}

.text-content h1{
    color: #777777;
    font-size: 48px;
    font-weight: 400;
}

.text-content p{
    width: 555px;
    height: 105px;
    color: #777777;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}


/* Second Content */

.second-content {
    padding-top: 100px;
    width: 100%;
    height: 500px;
    background-color: var(--primary);
}

.second-text h1{
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 48px;
    
}

.second-text p{
    color: #ffffff;
    font-weight: 280;
    text-align: center;
    font-size: 24px;
}

.mobile {
    height: 290px;
    position: relative;
}

.grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
  
}


/* Third Content */

.flex2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.third-content {
    padding-top: 0px;
    width: 100%;
    height: 300px;
    background-color: #fff;
    margin: 0 20px;
}

.efficient-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;
}

.efficient-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;

}

.secure-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;


}

.secure-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}

.support-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;

}

.support-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}

.dot1 {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #47e152;
    position: relative;
    margin: 0 110px;
    margin-top: 75px;
  
}


.dot2 {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: inline-block;
    background-color: #e8e12e;
    position: relative;
    margin: 0 100px;
   
}

.dot3 {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: inline-block;
    background-color: #40cfee;
    position: relative;
    margin: 0 90px;
 
}






