@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


:root {
    --primary: #1b6ef2;
    --text-color: #14241d;
    
  }


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* header  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: transparent;

}

.logo {
    width: 44px;
    height: 50px;
    margin-right: auto;
   
}

.develi {
    margin-right: 420px;
    font-weight: 800;
}

ul {
    list-style-type: none;
  
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    
 
}

i {
    color: #fff;
    margin: 0 6px;
}

.navbar{
    background-image: linear-gradient(90deg, hsl(304, 23%, 76%, 0.7) 0%, hsl(225, 96%, 68%, 0.7) 100%), url(imgs/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.navbar .flex {
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main {
    align-items: center;
    text-align: center;
    padding: 100px;
}

.main h1{
    font-weight: 400;
    padding: 15px;
 
}

.main p{
    font-weight: 400;
    padding: 10px;
    color: #fff;
    
}

.btns {
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    
  
    
    
}

.btn-trans {
    border-radius: 30px;
    border: 2px solid #ffffff;
    font-weight: 600;
    background-color: transparent;

}

.btn-primary{
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid var(--primary);
    background-color: var(--primary);
 
}


/* First Content */



.first-content {
    background-color: #fff;
    height: 560px;
}

.laptop {
    padding-top: 50px;
    height: 450px;
    position: relative;
}

.text-content h1{
    color: #777777;
    font-size: 48px;
    font-weight: 400;
}

.text-content p{
    width: 555px;
    height: 105px;
    color: #777777;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}


/* Second Content */

.second-content {
    padding-top: 100px;
    width: 100%;
    height: 500px;
    background-color: var(--primary);
}

.second-text h1{
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-size: 48px;
    
}

.second-text p{
    color: #ffffff;
    font-weight: 280;
    text-align: center;
    font-size: 24px;
}

.mobile {
    height: 290px;
    position: relative;
}

.grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
  
}


/* Third Content */

.flex2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
}

.third-content {
    padding-top: 0px;
    width: 100%;
    height: 300px;
    background-color: #fff;
    margin: 0 20px;
}

.efficient-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;
}

.efficient-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;

}

.secure-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;


}

.secure-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}

.support-text h1{
    font-size: 30px;
    color: #777777;
    font-weight: 400;
    text-align: center;

}

.support-text p{
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
}

.dot1 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    background-color: #47e152;
    position: relative;
    margin: 0 110px;
    margin-top: 75px;

}

.dots-container > div > i{
    font-size: 30px;
    color: #ffffff;
    padding: 20px 15px;
}



.dot2 {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    display: inline-block;
    background-color: #e8e12e;
    position: relative;
    margin: 0 100px;
    
   
}




.dot3 {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    display: inline-block;
    background-color: #40cfee;
    position: relative;
    margin: 0 90px;
 
}


/* 4th Content */

.fourth-content{
    background-image: linear-gradient(0deg, hsl(304, 23%, 76%, 0.7) 0%, hsl(225, 96%, 68%, 0.7) 100%), url(imgs/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 440px;
    width: 100%;
}

.fourth-container .grid-cta{
    grid-template-columns: 35% 65%;
    gap: 30px;
}

.grid-cta {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-cta h1{
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
    


}

.text-cta p{
    text-align: justify;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    

}

.text-cta i, u{
    color: var(--primary);
    font-size: 20px;

}

.text-cta{
    padding: 110px;
  
}

.forms div > input{
    width: 340px;
    height: 55px;
    border-radius: 30px;
    margin: 10px 5px;
    border: transparent;
    
}

.btn-submit {
    width: 700px;
    height: 60px;
    border-radius: 30px;
    background-color: #1b6ef2;
    border: transparent;
    margin: 10px 0;
}

.btn-section button{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins';
}

.first-row input,
.second-row input,
.third-row input{
    padding: 20px;
    font-size: 19px;
    color: #777777;
    font-weight: 400;
    font-family: 'Poppins';
}


/* Fifth SEction */

.fifth-section {
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
}

.text-testi h1{
    font-size: 36px;
    color: #777777;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.testi-card i{
    font-size: 30px;
    line-height: 30px;
    color: #777777;
}

.testi-card p{
    font-size: 18px;
    line-height: 25px;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    padding-top: 30px;
}

.testi-card {
    width: 1140px;
    height: 320px;
    filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.1));
    background-color: #ffffff;
    margin: auto;
    margin-top: 40px;
   

}



.stars i {
    color: #fdcc0d;
    text-align: center;
    align-items: center;
    font-size: 15px;
    margin: 0;
}

.testi-imgs img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
   
}

.testi-imgs p{
    font-size: 18px;
    line-height: 30px;
    color: #212121;
    font-weight: 700;
    font-family: "Poppins";
    text-align: justify;

}

.text-row p{
    padding: 1px;
}

.text-row pre{
    font-size: 16px;
    line-height: 30px;
    color: #212121;
    font-weight: 400;
    font-family: "Poppins";
    text-align: justify;
}

.flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    gap: 20px;
    margin-top: 20px;
}



/* 6th Section */

.six-section {
    width: 100%;
    height: 420px;
    background-color: #ffffff;
}

.text-blog h1{
    font-size: 36px;
    color: #777777;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins";
    text-transform: uppercase;
    padding-top: 50px;
}

.box{
    width: 263px;
    height: 180px;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.1));
    background-color: #ffffff;
    margin-top: 50px;
    position: relative;

}

.blog-text p{
    width: 218px;
    height: 88px;
    font-size: 15px;
    color: #777777;
    font-weight: 700;
    font-family: "Poppins";
    align-items: center;
    justify-content: center;
    margin: auto;
    top: -50px;
    position: relative;
    
}

.blog-date .day {
    width: 40px;
    height: 40px;
    border-radius: 15px 0 0 15px;
    background-color: var(--primary);
    filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.1));
    position: relative;
    top: -15px;
    left: 20px;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 700;
}


.blog-date .month{
    width: 110px;
    height: 40px;
    padding: 7px 15px;
    border-radius: 10px;
    filter: drop-shadow(0px 2px 20px rgba(0,0,0,0.1));
    background-color: #000000;
    border-radius: 0 15px 15px 0;
    left: 60px;
    top: -55px;
    position: relative;
    font-size: 16px;
    font-weight: 700;

}

.blog-footer {
    height: 30px;
    border-top: 1px solid #cecece;
    background-color: #fff;
}

.blog-footer a{
    font-size: 14px;
    color: var(--primary);
    font-weight: 400;
    font-family: "Poppins";
    position: relative;
    top: 0px;
    left: 150px;
}

.blog-footer span, i{
    font-size: 12px;
    color: var(--primary);
    font-weight: 400;
    font-family: "Poppins";
    position: relative;
}


.six-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* Last section */

.last-section{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 456px;
    width: 100%;
    background-image: linear-gradient(0deg, hsl(217, 88%, 53%, 0.7) 0%, hsl(0, 82%, 82%, 0.7) 100%), url(imgs/last-bg.jpg);
}



.last-container h1{
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    padding: 55px 0;
    
}

.last-container p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.last-forms input{
    width: 340px;
    height: 40px;
    border-radius: 30px;
    background-color: #ffffff;
    border: transparent;
    font-size: 18px;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins";
    padding: 0 15px;
}

.last-forms button{
    width: 210px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--primary);
    border: transparent;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    text-transform: uppercase;
}

.last-forms i{
    font-size: 18px;
    color: #ffffff;
}

.last-forms{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


/* Footer */

footer {
    width: 100%;
    height: 360px;
    background-color: #0d1219;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
 
}

.develi-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.develi-footer, .contact-us, .links {
    margin-top: 80px;

}

.contact-us h1,
.links h1{
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contact-us p,
.develi-footer p{
    font-size: 15px;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins";
    text-align: justify;
    margin-top: 20px;
    
}

.develi-logo h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Poppins";
    
}

.links p{
    font-size: 14px;
    color: var(--primary);
    font-weight: 400;
    font-family: "Poppins";
    margin: 15px 0;
}

.contact-us i, .develi-footer i{
    font-size: 20px;
    width: 24px;
    height: 24px;
    color: var(--primary);
    margin: 10px 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 370px;
    height: 20px;
    border-top: 1px solid #cecece;
    padding-top: 25px;
    
}

.footer p{
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins";
}





















